/* Add padding on top of the calendar */
.fc {
  padding-top: 15px;
}

/* Make events more rounded */
.fc-daygrid-block-event {
  border-radius: 16px;
}

.fc-daygrid-block-event .fc-event-title {
  padding-left: 10px;
}

/* Set next/previous month buttons next to the title */
.fc-toolbar-chunk:nth-of-type(2) > div {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

/* Change non active button colors */
.fc .fc-button-primary {
  background-color: #ffffff;
  color: #202223;
  border-color: #babfc3;
}

/* Change active button colors */
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:hover {
  background-color: #6d7175 !important;
  border-color: #575959 !important;
}
